* {
    box-sizing: border-box;
}
/* const container ={
    display: "flex",
    justifyContent: "space-around",
    backgroundColor: "#4e8ab1",
    position: "fixed",
    left: 0,
    bottom: 0,
    right: 0,
 } */